Home Work III Day(3.1)
Relational and Assignment Operators

In [1]:
# 1. Type here. Assign a number to the variable: glass_of_water 
# glass_of_water= 
# print("I drank", glass_of_water, "glasses of water today.") 

glass_of_water= 8
print("I drank", glass_of_water, "glasses of water today.")

I drank 8 glasses of water today.

In [3]:
# 2. Fill the print function so it prints glass_of_water  
# glass_of_water=3  
# glass_of_water=glass_of_water + 1  
# print()

glass_of_water=3  
glass_of_water=glass_of_water + 1  
print(glass_of_water)

4

In [4]:
# 3. Assign an integer to the variable, then print it.  
# men_stepped_on_the_moon=  
# print()

men_stepped_on_the_moon= 1
print(men_stepped_on_the_moon)

1

#### 4. Type a couple of words or a short sentence for your variable, then print it.  
 my_reason_for_coding=  
 print()

In [5]:

my_reason_for_coding =  'To Learn'
print()

#### 5. Assign a float with 2 decimals to the variable below. If you don't wan't to 
search the value you can check out Hint 1.  
global_mean_sea_level_2018=21    
global_mean_sea_level_2018=    
print(global_mean_sea_level_2018)

In [8]:
global_mean_sea_level_2018=21  
global_mean_sea_level_2018=21.00  
print(f'{global_mean_sea_level_2018:.2f}')

21.00

#### 6. Assign True or False to the variable below then print it.  
staying_alive=  
print(staying_alive)

In [9]:
staying_alive = True
print(staying_alive)

True

#### 7. Type a couple of different values inside the print function. Make sure they are separated by commas.  
print("")

In [10]:
print("Hello", 42, 3.14, [1, 2, 3], {"name": "Munna"})

Hello 42 3.14 [1, 2, 3] {'name': 'Munna'}

#### 8. You can assign "Hello World!" to the variable.  
my_text="" 
print(my_text)

In [11]:
my_text = "Hello World!"
print(my_text)

Hello World!

#### 9. Replace "type here" with "Hello World!"  
print("type here")

In [13]:
print("Hello World!")

Hello World!

#### 10. In Python, a variable must be declared before it is assigned a value: 
A. True   
B. False

B.False

#### 11. Which of the following statements assigns the value 100 to the variable x in Python: 
A. x := 100  
B. let x = 100   
C. x << 100   
D. x = 100   
E. x ← 100

Ans: D. x = 100

#### 12.  Which of the following are valid Python variable names: 
A. Age  
B. home_address  
C. ver1.3  
D. return  
E. 4square  
F. route66

Ans: A,B,F

#### 13. You are reading Python code, and these statements appear scattered in different locations throughout the code: 
employeenumber = 4398  
.  
.  
EmployeeNumber = 4398  
.  
.  
employeeNumber = 4398  

A. These statements refer to different variables.  
B. These statements refer to the same variable.

Ans: B These statements refer to the same variable.

#### 14.  Which of the following would give a syntax error? 
A. x, y, z = 10, 20, 30  
B. x, y, z = 10, ‘Hello’, True  
C. x = 10, y =’Hello’, z = True  
D. None of the above

Ans: C. x = 10, y =’Hello’, z = True

#### 15. What is the value of the following arithmetic expression 5*2**10?

Ans: 5120