### Home Work II (Day 4) 
#### Variables, Data Types, Logical, Membership and Identity Operators

#### 1. Python Swapping means interchanging the values of two variables.  
#### Eg: - if x is 10 and y is 5 then after swapping x will be 5 and y will be 10.

In [2]:
x,y = 10,5
print(f'Before Swapping:\nx = {x}\ny = {y}')
x,y = y,x
print(f'After Swapping:\nx = {x}\ny = {y}')

Before Swapping:
x = 10
y = 5
After Swapping:
x = 5
y = 10

#### 2. Numbers consist of all the numeric values. Numbers in Python are classified into the following data types.   
####  ❖ int - Integers don’t have decimal and can have any length as long as the required memory is available.  
####     For example, 3, 855, etc.   
####  ❖ float - Floating point numbers are the ones having decimal.  
####     For example, 2.564728.    
####  ❖ complex - Complex numbers, as in Mathematics, have the form a + bj,    
####    where a is the real part and b is the imaginary part. For example, 2 + 3j, 6j.

#### 3. What is the output of the following code? 
#### x = 6  
#### y = 2 
#### print(x ** y)  
#### print(x // y)

In [3]:
x = 6  
y = 2 
print(x ** y)  
print(x // y)

36
3

#### 4. 4 is 100 in binary and 11 is 1011. What is the output of the following bitwise operators? 
#### a = 4  
#### b = 11  
#### print(a | b)  
#### print(a >> 2)

In [6]:
a = 4  
b = 11  
print(a | b)
print(a >> 2)

15
1

#### 5. What is the output of the following assignment operator? 
#### y = 10  
#### x = y += 2  
#### print(x)

In [9]:
y = 10  
x = y + = 2  
print(x) 
# In Python, you cannot use an assignment expression (y += 2)   
# directly inside another assignment like x = y += 2. This is a syntax error.

SyntaxError: invalid syntax (714143097.py, line 2)

#### 6. What is the output of print(2 * 3 ** 3 * 4)?

In [10]:
print(2*3**3*4)

216

#### 7. What is the output of print(10 - 4 * 2)

In [11]:
print(10 - 4 * 2)

2

#### 8. What is the output of the expression print(-18 // 4)

In [12]:
print(-18 // 4)

-5

#### 9. What is the output of the following Python code? 
#### x = 10  
#### y = 50  
#### if x ** 2 > 100 and y < 100:  
#### print(x, y)

In [14]:
x = 10  
y = 50  
if x ** 2 > 100 and y < 100:  
    print(x, y)
else:
    print('None')

None

#### 10.  What is the output of the following code? 
#### x = 100  
#### y = 50  
#### print(x and y)

In [15]:
x = 100
y = 50
print(x and y)

50

#### 11.  In Python 3, what is the output of type(range(5)). (What data type it will return).

In [19]:
print(type(range(5)))

<class 'range'>

- In Python 2, calling range(5) produced a list of numbers [0, 1, 2, 3, 4]. So type(range(5))     would have been <class 'list'>.  
- In Python 3, range(5) returns a range object, not a list. It’s a special iterable that         represents the sequence of numbers from 0 to 4, generated on demand.
- Therefore, type(range(5)) produces: <class 'range'>

#### 12.  What is the data type of print(type(10))

In [20]:
print(type(10))

<class 'int'>